<h1>Ingresar nota</h1>
<%= form_for ([@evaluation, @work]) do |f| %>
  <div class="col-xs-4">
    <p><%= f.label :nota %>
    <%= f.text_field :nota, :class => 'form-control' %>
    <p><%= f.submit 'Ingresar', :class => 'btn btn-lg btn-success' %>
  </div>
<% end %>