<h1>Trabajos/evaluaciones</h1>

<p>
  <strong>Nombre:</strong>
  <%= @work.name %>
</p>
 
<p>
  <strong>Nota:</strong>
  <%= @work.nota_total %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @work.created_at %>
</p>
