<h1><%= @work.name %></h1>
<table class="table table-bordered">
	<tr class="success" colspan=3>
		<th>Nota</th>
		<th>Fecha</th>
	</tr>
	<tr class="warning">
		<td><%= @work.nota_total %></td>
		<td><%= @work.created_at.strftime("%d/%m/%Y") %></td>
	</tr>
</table>