<h1>Lista cursos</h1>
 
<table class='table table-bordered'>
    <tr class='success'>
      <th>Curso</th>
      <th>Gestion</th>
    </tr>
  <% @courses.each do |course| %>
    <tr  class='active'>
      <td><%= link_to course.name, course_path(course) %></td>
      <td><%= course.gestion.to_s + '/' + course.created_at.strftime('%Y') %></td>
    </tr>
  <% end %>
</table>